doctype
html
  
  head
    title Benes Playground
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/playground/resources/css/bootstrap.min.css')
    link(rel='stylesheet', href='/playground/resources/css/styles.css')
    script(src='/playground/resources/javascript/jquery-3.2.1.min.js')
    script(src='/playground/resources/javascript/bootstrap.min.js')

  body
