include ../head.html

header
  h1 Benes Playground
  a(href='/playground') Home
  a(href='/playground/modules') Modules
  hr

main
  h2 Cool playground for fancy stuff
  p cooalgjha fjaofjapfja fjafa jsfpajf apsjf pasjfpasfj apfjapsf 

include ../footer.html
