include ../../head.html

header
  h1 Benes Playground
  a(href='/playground') Home
  a(href='/playground/modules') Modules
  hr
    
main
  h2 Modules
  a(href='test_module.html') Test Module

include ../../footer.html
